/* *****************************
 +++++++ $GRIDS ++++++
 ***************************** */

/* Grid Header */
.banner {
	&__texto {
		height: 100%;
		display: grid;

		grid-template-rows: 0px repeat(2, 1fr) 0px;
		grid-template-columns: 0px 1fr 0px;
		justify-items: center;
		grid-gap: 30px;

		&__titulo {
			grid-row: 2/3;
			grid-column: 2/4;
			align-self: end;
		}
		&__menu {
			grid-row: 3/4;
			grid-column: 2/4;
			&--travel {
				margin-right: 1rem;
			}
		}
		&__avatar {
			grid-row: 3/4;
			grid-column: 2/4;
			justify-self: start;
			align-self: end;
		}
	}
}

/* Grid Main */
main {
	background-color: map-get(map-get($colores, primarios), verdeLight);
	.grid_main {
		display: grid;

		grid-template-rows: 0px 1fr 0.5fr 0.5fr 1fr 0px;
		grid-template-columns: 0px 800px 400px 0px;

		grid-gap: 40px;
		justify-content: center;

		// justify-content: center;

		.postG01 {
			grid-row: 2/4;
			grid-column: 2/3;
		}
		.postG02 {
			grid-row: 4/6;
			grid-column: 2/3;
			align-self: end;
		}
		.postP01 {
			grid-row: 2/3;
			grid-column: 3/4;
		}
		.postP02 {
			grid-row: 3/5;
			grid-column: 3/4;
			align-self: center;
		}
		.postP03 {
			grid-row: 5/6;
			grid-column: 3/4;
		}
	}
}
