/* *****************************
 +++++++ $MENUS ++++++
 ***************************** */

/* Menu desplegable */
input,
.desplegable {
	display: none;
}

input:checked ~ .desplegable {
	display: block;
}
